.file-upload-item
  height: .3rem
  width: 100%
  position: relative
  .file-name
    height: .2rem
    line-height: .2rem
    padding: .05rem .08rem
    font-size: 14px
    border-bottom: 1px solid #fff
    position relative
    z-index: 1
    display: flex
    justify-content: space-between
    color: #fff
  .upload-progress-bar
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #1890ff
  .upload-progress-bar.success
    background: #52c41a
  .upload-progress-bar.fail
    background: #ff4d4f
