.app
  width: 100%;
  min-height: 100%
  .header
    height: .4rem
    width: 100%
    border-bottom: 1px solid #eee
    font-size: 18px
    line-height: .4rem
    text-align: center
    position sticky 
    top: 0
    left: 0
    z-index: 999
    background: teal
    color: #fff
    box-shadow: 0 2px 8px #f0f1f2
  .main
    padding: .2rem