.like-icon
  display: flex
  justify-content: center
  align-items: center
  padding-top: .05rem
  padding-bottom: .05rem
  border-top: 1px solid #ccc
  .like
    animation-name: animation-like
    animation-duration: .3s
    animation-timing-function: ease
    color: #f1577f

@keyframes animation-like{
  0%{ 
    transform: scale(1,1);
  }
  50% { 
    transform: scale(1.5,1.5);
  }
  100% { 
    transform: scale(1,1);
  }
}